
# ignore dir
#build/
build/*.txt
build/Makefile
build/*.cmake
build/CMakeFiles
build/sdk_core
build/sample
Debug
Release
CMakeFiles

#whitelist
!build/notes.txt


/.vs
/CMakeFiles
/CMakeCache.txt
/lvx_data/*.lvx
/lvx_data/*.7z
/lvx_data/*.zip
